FIREBASE_PROJECT_ID=sistema-contable-csm-granada
GOOGLE_APPLICATION_CREDENTIALS=C:\SICAR\keys\firebase-adminsdk.json

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307
MYSQL_DATABASE=sicar
MYSQL_USER=root
MYSQL_PASSWORD=
